<?xml version="1.0" encoding="UTF-8"?>
<svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 61.2 (89653) - https://sketch.com -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M8.1245,14.1234 C5.3625,14.1234 3.1245,11.8904 3.1245,9.1244 C3.1245,6.3624 5.3585,4.1244 8.1245,4.1244 C10.8855,4.1244 13.1235,6.3584 13.1235,9.1244 C13.1235,11.8864 10.8895,14.1234 8.1245,14.1234 M19.7255,18.2914 L15.8305,14.3964 C15.6545,14.2214 15.4165,14.1234 15.1665,14.1234 L14.5295,14.1234 C15.6075,12.7444 16.2485,11.0114 16.2485,9.1244 C16.2485,4.6364 12.6115,0.9994 8.1245,0.9994 C3.6365,0.9994 -0.0005,4.6364 -0.0005,9.1244 C-0.0005,13.6114 3.6365,17.2484 8.1245,17.2484 C10.0105,17.2484 11.7445,16.6074 13.1235,15.5294 L13.1235,16.1664 C13.1235,16.4164 13.2215,16.6544 13.3965,16.8304 L17.2915,20.7254 C17.6585,21.0924 18.2525,21.0924 18.6155,20.7254 L19.7215,19.6194 C20.0885,19.2524 20.0885,18.6584 19.7255,18.2914" id="path-1"></path>
    </defs>
    <g id="Origins-AUS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1d-Home" transform="translate(-1157.000000, -65.000000)">
            <g id="Group" transform="translate(1158.000000, 66.000000)">
                <g id="Group-6-Copy-2" fill-rule="nonzero" stroke="#37404C">
                    <circle id="Oval-Copy" cx="25" cy="25" r="25"></circle>
                </g>
                <g id="Group-2" transform="translate(16.000000, 15.000000)">
                    <g id="icon/fontawesome/search">
                        <g id="color/3BB44A" transform="translate(0.000000, -1.000000)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <use id="Mask" fill="#000000" xlink:href="#path-1"></use>
                            <g id="color/37404C" mask="url(#mask-2)" fill="#37404C" fill-rule="nonzero">
                                <g transform="translate(0.000000, 1.000000)" id="4a4a4a">
                                    <rect x="0" y="0" width="20" height="20"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
