
/* Custom Header*/
.custom-header{
  font-weight: bold;
  width: 100vw;
}
.ch-bot{
  border-bottom: 2px solid #f5f5f5;
}
.ch-top-row, .ch-bot-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  padding: 0;
  margin: 0 auto;
  min-height: 45px;
}
.ch-bot-row{
  padding-top: 10px;
  padding-bottom: 10px;
  &:last-of-type{
    justify-content: center;
  }
}
.ch-flag-and-promo{
  width: 33%;
  margin-right: 2%;
}
.ch-social{
  width: 33%;
  margin-right: 2%;
  //justify-content: space-between;
}
.ch-account i, .ch-cart i, .ch-search-button i{
  font-size: 18px
}
.ch-social .social-link:last-of-type{
  //margin: 0;
  margin-right: 10px;
}
.ch-account-and-cart{
  justify-content: flex-end;
  width: 23.5%;
}
.ch-account-and-cart.after-subscription{
  width: auto;
  justify-content: space-between;
  display: flex;
  .ch-account, .ch-cart{
  	padding: 15px 15px;
    margin: 0 15px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
    display: grid;
    text-align: center;
  }
  .ch-cart{
    margin-left: 0;
  }
  .ch-account i{
    margin-left: 1px;
  }
  .recently-added{
/*     right: -7px; */
    right: 9px;
  }
}
.ch-flag{
  width: 5%;
  display: inline-block;
  margin-right: 20px;
}
.ch-search{
  //width: 50%;
  width: 100%;
  //text-align: center;
  form{
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.ch-search-input::-webkit-input-placeholder{
  color: white;
  opacity: 1;
}

.ch-search-input::-moz-placeholder{
  color: white;
  opacity: 1;
}

.ch-top-row>*{
  display:flex;
  align-items: center;
}
.custom-header svg{
  vertical-align:middle;
}
.ch-social .social-link{
  margin-right: 10px;
}
.ch-account{
  margin-right: 0px;
  padding: 8px 15px;
}
.ch-account-and-cart{
  text-transform: uppercase;
  position: relative;
}
.ch-logo{
  //width: 16%;
  //margin-right: 2%;
  margin-right: 50px;
  //align-self: flex-start;
  //margin-top: 7px;
}
.ch-menu{
  //width: 60%;
  //padding: 35px 25px;
  flex: 1;
  display: flex;
  justify-content: space-start;
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .ch-menu {
  	min-width: 485px;
  }
}
.ch-subscribe{
  //padding: 15px 45px;
  width: 20%;
  text-align: center;
  padding: 15px 0;
}
.ch-menu-item{
  position: relative;
  margin-right: 30px;
}
.ch-menu-item-text{
  font-weight: bold;
  text-transform: uppercase;
}
.ch-menu-item-list{
  position: absolute;
  display: none;
  border: 2px solid #f5f5f5;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  z-index: 3;
}
.ch-menu-item-list-item{
  padding: 5px 10px;
}
.ch-menu-child-link{
  width: 100%;
}
.ch-menu-child-link-text{
  text-transform: uppercase;
}
.ch-menu-item:hover .ch-menu-item-list{
  display: block;
  min-width: 150px;
}
.ch-cart{
  padding: 8px 15px;
  position:relative;
}
.ch-cart svg{
  width:20px;
}
.ch-cart-count{
  position: absolute;
  line-height: 1em;
  padding: 2px 5px;
  border-radius: 50%;
  top: 0;
  //right: -5px;
  right: 0;
  color: white;
}
input[type="text"].ch-search-input, input[type="text"].ch-search-input:focus{
  display: inline-block;
  //width: 50%;
  width: 100%;
  //padding: 20px;
  padding: 5px;
  margin: 0;
  border: 0;
  background: transparent;
  color: white;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
input[type="text"].ch-search-input.visible, input[type="text"].ch-search-input.visible:focus{
  transform: translateX(0%);
  border-radius: 0;
  opacity: 1;
}
.ch-search-button, .ch-search-button:hover, .ch-search-button:focus {
  padding: 8px 15px;
  margin: 0;
  background: transparent;
  border-radius: 0;
  color: #fff;
  //position: absolute;
}
.ch-search-button svg{
  width: 15px;
  height: 15px;
}
.social-link svg{
  width: 25px;
  height: 20px;
}

.ch-mobile, .ch-mobile-logo{
  display: none;
}
.ch-logo-image{
  max-height: 55px;
}
#header-overlay{
  display: none;
}
.social-links-container{
  order: -1;
}
.ch-flag-and-promo.mobile{
  display: none;
}
.social-link.mail span{
  vertical-align: middle;
}

@media only screen and (max-width: 1280px){
  .ch-top-row{
    padding: 0 10px;
  }
  .ch-bot-row{
    padding: 10px;
  }
  .ch-flag-and-promo{
    width: 33%;
  }
  .ch-subscribe {
    padding: 10px 15px;
    display: inline-block;
  }
  .ch-menu{
    padding: 30px 5px;
  }
  .ch-menu-item{
    font-size: 12.5px;
  }
  .ch-social{
    width: 40%;
  }
  .ch-flag-and-promo{
    width: 40%;
  }
}

@media only screen and (max-width: 1100px){
  .ch-logo{
    margin-right: 30px;
  }
  .ch-menu-item{
    margin-right: 15px;
  }
  .ch-subscribe{
    width: 15%;
    font-size: 0.8em;
  }
  .ch-social{
    width: 41%;
    margin-right: 1%;
  }
}

@media only screen and (max-width: 1023px){
  .ch-promo-text{
    font-size: 0.9em;
  }
  .ch-flag-and-promo.mobile{
    display: block;
  }
  .ch-search form{
    min-height: 50px;
    align-items: center;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
  }
  .ch-search-button, .ch-search-button:hover, .ch-search-button:focus{
    padding-right: 0;
  }
  .ch-search-button i {
    font-size: 15px;
    padding-right: 15px;
    border-right: 1px solid;
  }
  input[type="text"].ch-search-input, input[type="text"].ch-search-input:focus{
    color: #9B9B9B;
  }
  .ch-search-input::-webkit-input-placeholder{
    color: #9B9B9B;
  }

  .ch-search-input::-moz-placeholder{
    color: #9B9B9B;
  }
  .ch-search{
    position: absolute;
    top: 100%;
    left: -150%;
    transition: all .3s ease;
    width: 100%;
    z-index: 1000;
    background-color: #f4f4f4;
  }
  .ch-search-button, .ch-search-button:hover, .ch-search-button:focus{
    color: #9B9B9B;
  }
  .ch-search.visible{
    left: 0%;
  }
  body.no-overflow, html.no-overflow{
    overflow: hidden !important;
    position: relative;
    height: 100%;
  }
  .ch-mobile .social-link.mail span{
    display: none;
  }
  .ch-social{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .ch-social .social-link:last-of-type{
    //margin-right: 15px;
    margin-right: 10px;
  }
  .ch-social .social-link {
    padding: 15px 14px;
    border: 1px solid black;
    border-radius: 50%;
    display: grid;
  }
  .social-links-container{
    display: flex;
  }
  #header-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 11;
  }
  .ch-subscribe{
    width: auto;
  }
  .ch-mobile-menu-footer{
    margin: 30px 0;
  }
  .ch-mobile-item a.ch-mobile-menu-close{
    display: none;
  }
  .ch-mobile-menu-close i{
    width: 18.5px;
  }
   .ch-mobile-item a.ch-mobile-menu-close, .ch-mobile-item a.ch-mobile-menu-open{
     display: none;
   }
  .ch-mobile-item a.ch-mobile-menu-close.visible, .ch-mobile-item a.ch-mobile-menu-open.visible{
    display: flex;
  }
  .ch-subscribe {
    padding: 15px 45px;
    margin-top: 20px;
  }
  .ch-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    z-index: 12;
  }
  .ch-mobile-menu-item .ch-menu-item{
    margin: 0;
  }
  .ch-top, .ch-bot{
    display: none;
  }
  .ch-mobile-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ch-mobile-item span{
    font-size: 14px;
    text-transform: uppercase;
  }
  .ch-mobile-cart{
    position: relative;
  }
  .ch-mobile-item svg{
    width: 25px;
    height: 25px;
  }
  .ch-mobile-wrapper{
    text-align: center;
    position: absolute;
    top: 100%;
    left: -150%;
    transition: all .3s ease;
    width: 100%;
    flex-direction: column;
  }
  .ch-mobile-wrapper.visible{
    left: 0;
    z-index: 999;
  }
  .ch-mobile-wrapper-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    background: rgba(0,0,0,0.8);
  }
  .ch-mobile-menu-item{
    padding: 0 30px;
    overflow: auto;
    max-height: 50vh;
  }
  .ch-mobile-menu-account{
    display: flex;
    justify-content: space-between;
  }
  .ch-mobile-menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .ch-mobile-account{
    width: 49.5%;
    padding: 15px 0;
    text-transform: uppercase;
  }
  .ch-mobile-menu-item .ch-menu-item-text, .ch-menu-child-link-text{
    padding: 15px 0;
    display: block;
  }
  .ch-mobile-logo{
    display: block;
    text-align: center;
    position: relative;
    width: 20%;
  }
  .ch-flag-and-promo{
    width: 100%;
    margin: 0;
    //text-align: center;
    padding: 15px 0;
    padding-left: 22px;
  }
  .ch-mobile-item a i{
    font-size: 20px;
  }
  .ch-mobile-item a{
  	padding: 8px 13px;
  }
  .ch-account-and-cart{
    width: auto;
  }
  .ch-logo-image{
    width: auto;
  }
}
@media only screen and (max-width: 768px){
  .custom-header{
    transition: top 0.2s ease-in-out;
    position: fixed;
    z-index: 99999;
    top: 0;
  }
  .custom-header--down{
    top: 0;
  }
  .custom-header--up {
      top: -120px;
  }
}

@media only screen and (max-width: 767px){
  .ch-mobile-menu-close i{
    width: 15px;
  }
  .ch-mobile{
    display: flex;
    justify-content: space-evenly;
    padding: 9px 0;
  }
  .ch-top, .ch-bot{
    display: none;
  }
  .ch-cart-count {
    padding: 2px 5px;
    top: 0px;
    right: 0px;
    color: white;
  }
  #fsb_container{
    display: none !important;
  }

  a.ch-subscribe{
    display: inline-block;
    margin: 20px 0;
  }

  .ch-menu-has-child{
    position: relative;
  }
  .mobile-menu-chevron{
    position: absolute;
    top: 50%;
    //left: 70%;
    right: 0;
    transform: translate(-50%,-50%);
  }
  /*
  .mobile-menu-chevron::before{
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 12px;
    position: relative;
    width: 12px;
    transform: rotate(135deg);
    transition: all 0.3s ease;
  }
  .ch-menu-has-child.active .mobile-menu-chevron::before{
    transform: rotate(-45deg);
  }
  */
  .ch-menu-item-list{
    position: relative;
    border: 0;
  }


  .ch-menu-item-list-item{
    padding: 0;
  }
  .ch-menu-item:hover .ch-menu-item-list{
    display: none;
  }

  .ch-flag{
    display: inline-block;
  }
  .ch-mobile-item a i{
    font-size: 19px;
  }
  .ch-flag-and-promo.mobile{
    padding: 9px 0;
    padding-left: 22px;
  }
  .ch-flag{
    margin-right: 10px;
  }
}

@media only screen and (max-width: 325px){
  .ch-flag-and-promo{
    padding-left: 17px;
  }
  .ch-social .social-link {
    margin-right: 5px;
  }
  .ch-social .social-link:last-of-type {
    margin-right: 5px;
  }
  .ch-mobile-item a{
  	padding: 8px 8px;
  }
}




.widgets .featured-promo img.stars-image, .stars-image{
  margin-bottom: 30px;
}
.widgets .featured-promo .title{
  margin-bottom: 30px;
}
/*=============================================
  Header
=============================================*/

/**
 *
 * Offer bar
 *
 */

#offer-bar--wrap {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  align-items: center;
}

#offer-bar--wrap * {
  letter-spacing: .125em;
  text-align: center;
}

#offer-bar--btn {
  margin: 5px 0;
  padding: 9px;
  text-transform: uppercase;
  border: solid 2px transparent;
  order: 1;
}

@media screen and (min-width: 992px) {
  #offer-bar--wrap {
    flex-direction: row;
    justify-content: center;
    padding: 12px 10px;
  }

  #offer-bar--btn {
    margin: 0 10px;
  }
}

/**
 *
 * Top bar
 *
 */

#hdr--offer-bar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.hdr--offer-bar-btn {
  line-height: 1;
  text-align: center;
  margin-left: 20px;
  letter-spacing: 0.031428571em;
  padding: 0.25em 1em;
  border: solid 2px transparent;
  min-height: 26px;
  min-width: 162px;
}

@media screen and (min-width: 1024px) {
  .hdr--offer-bar-btn {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 1023px) {
  #hdr--offer-bar-wrap {
    display: none;
  }

  .hdr--offer-bar-btn {
    min-height: 50px;
    min-width: 274px;
    margin-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // margin-top: 30px;
    margin: 30px 0;
  }
}

/**
 *
 * Search
 *
 */

.hdr--srch-wrp {


}

.hdr--srch-frm {
  display: flex;
  margin: 0;
}

.hdr--srch-frm.visible .hdr--srch-fld {
  opacity: 1;
  visibility: visible;
}

.hdr--srch-fld {
  max-width: 230px;
  min-height: 50px;
  border: 1px solid #37404C !important;
  border-radius: 25px !important;
  color: #76869C !important;
  font-size: 14px !important;
  margin: 0 10px 0 0 !important;
  padding: .5em 20px !important;
  letter-spacing: 0 !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

.hdr--srch-btn {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

/**
 *
 * Navigation
 *
 */

.ch-menu-item-text {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}

@media screen and (min-width: 1024px) {
  .ch-menu-item-text {
    padding-bottom: 30px;
  }

  .ch-menu-item-list {
    top: calc(100% + 25px);
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.14);
    border: 1px solid #E5E5E5;
  }

  .ch-menu-child-link-text {
    font-size: 16px;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .ch-mobile {
    justify-content: space-between;
    padding: 9px 13px 9px 5px;
    box-shadow: 0 1px 4px 0 rgba(189,189,189,0.5);
  }

  .ch-mobile-logo {
    margin-left: 15px;
    margin-right: auto;
    width: initial;
    max-width: 85px;
  }

  .ch-logo {
    margin-right: 10px;
  }

  .ch-menu-item-text {
    font-size: 14px;
  }
}

/**
 *
 * Mobile menu
 *
 */

@media screen and (max-width: 1023px) {
  .ch-menu-item-text {
    position: relative;
  }

  .ch-menu-has-child .mobile-menu-chevron::before {
    content: "+";
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #78BFB5;
  }

  .ch-menu-has-child.active .mobile-menu-chevron::before {
    content: "-";
  }

  .ch-menu-child-link-text {
    font-size: 14px;
    font-weight: bold;
  }


  .ch-social {
    .social-link {
      height: 54px;
      width: 54px;
    }

    .social-link.phone {
      display: none;
    }

    .social-link.youtube {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  #ftr-sctn--mn-wrp {
    margin: 0;
  }
}
