<div id="cntnct-pg" class="gd-stl">

  {% section 'custom-contact-us-main' %}

  {% section 'custom-contact-us-contact-info' %}

  {% section 'custom-contact-us-form' %}
  
  {% section 'custom-contact-us-address' %}

</div>



{% comment %}
  


<!-- Contact Us Page -->
{% section 'custom-contact-us'%}

{% section 'custom-faq-contact-us' %}

<hr class='custom-hr'>

{% section 'custom-guarantee' %}

<hr class="custom-hr">

{% section 'custom-reviews' %}

{% section 'custom-non-slider-reviews' %}

{% section 'featured-collection' %}
{% endcomment %}
