{% comment %}{% section 'product' %}{% endcomment %}

{% section 'custom-product-rest' %}
<!-- Bulk Buy Section -->

<script>
  $(window).on('load', function() {
    function insert(){
      $('.cbb-frequently-bought-form').appendTo('.cbb-frequently-bought-selector-list');
    }
    setTimeout(insert, 1000);
  }); 
</script>

<!-- Left\Right Image Section -->

{% section '1000mg-rest' %}

<!-- Left\Right Image Section -->

{% section 'custom-left-right-rest-2' %}

<!-- Left\Right Image Section -->

{% section 'custom-left-right-rest' %}

<div id='frequently-bought-together'></div>

<hr class="custom-hr">

{% section 'custom-text-with-images-rest' %}


<!-- Reviews Sections -->

{% section 'custom-reviews' %}

{% section 'custom-non-slider-reviews'%}

