{% comment %}{% section 'product' %}{% endcomment %}

{% section 'custom-product' %}
<!-- Bulk Buy Section -->

{% section 'custom-bulk-buy-100mg-lip' %}

<script>
  $(window).on('load', function() {
    function insert(){
      $('.cbb-frequently-bought-form').appendTo('.cbb-frequently-bought-selector-list');
    }
    setTimeout(insert, 1000);
  }); 
</script>

<!-- Left\Right Image Section -->

{% section '100mg-liposomes-section-3' %}

<!-- Left\Right Image Section -->

{% section 'custom-left-right-image-2' %}

<!-- Left\Right Image Section -->

{% section 'custom-left-right-image' %}

<div id='frequently-bought-together'></div>

<hr class="custom-hr">

{% section 'custom-text-with-images' %}

<!-- Compare Section -->

{% section 'custom-compare-to-similar-100mg-lip' %}

<!-- Reviews Sections -->

{% section 'custom-reviews' %}

{% section 'custom-non-slider-reviews'%}

